@import "assets/normalize.css";
body{
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #606c71;
}
a{ text-decoration: none; }
h1,h2,h3,h4,h5,h6{ font-weight: normal; margin: 0; padding: 0px; }
.page-header{
  color: #fff;
  text-align: center;
  background: #159957;
  background-image: linear-gradient(120deg, #155799, #159957);
  padding: 3rem 4rem;
  h1{ font-size: 40px; }
  h2{ font-size: 18px; margin-bottom: 2rem; opacity: .7; }
  .btn{
    display: inline-block;
    margin-bottom: 1rem;
    padding: 10px 20px;
    font-size: 14px;
    color: rgba(255,255,255, .7);
    background: rgba(255,255,255, .08);
    border: 1px solid rgba(255,255,255, .2);
    border-radius: 5px;
    transition: all .2s ease;
  }
  .btn+.btn{ margin-left: 20px; }
  .btn:hover{ color: rgba(255,255,255, .9); background: rgba(255,255,255, .3); }
}
@media screen and (max-width: 1024px) {
  .page-header{
    h1{ font-size: 30px; }
    h2{ font-size: 14px; }
    .btn{ display: block; margin-bottom: 15px; }
    .btn+.btn{ margin-left: 0; }
  }
}

.page-content{
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 30px;
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 50px;
  h1,h2{
    margin-top: 20px;
    margin-bottom: 10px;
    color: #159957;
  }
  h3{ color: #000; }
  p,ul,ol{
    margin: 0; padding: 0; margin-bottom: 10px;
  }
  code{
    background: #eee;
    margin: 0 5px;
    padding: 0 3px;
    border-radius: 3px;
  }
  pre{
    padding: 15px;
    border-radius: 4px;
  }
}

.page-footer{
  text-align: center;
  line-height: 60px;
  background: #f8f8f8;
  color: #999;
  font-size: 14px;
  a{ margin: 0 5px; color: #999; transition: color .3s ease; }
  a:hover{ color: #159957; }
}
